asgiref==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
beautifulsoup4==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0"
coltrane[mistune]==0.25.0 ; python_version >= "3.11" and python_version < "4.0"
dateparser==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
django-browser-reload==1.12.1 ; python_version >= "3.11" and python_version < "4.0"
django-fastdev==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
django-htmx==1.17.2 ; python_version >= "3.11" and python_version < "4.0"
django==4.2.7 ; python_version >= "3.11" and python_version < "4.0"
halo==0.0.31 ; python_version >= "3.11" and python_version < "4.0"
log-symbols==0.0.14 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
markdown2==2.4.10 ; python_version >= "3.11" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
minestrone==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
mistune==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
pastel==0.2.1 ; python_version >= "3.11" and python_version < "4.0"
poethepoet==0.24.4 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.17.1 ; python_version >= "3.11" and python_version < "4.0"
pytailwindcss==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
python-frontmatter==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
pytz==2023.3.post1 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "4.0"
regex==2023.10.3 ; python_version >= "3.11" and python_version < "4.0"
rich-click==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
rich==13.7.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "4.0"
spinners==0.0.24 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
termcolor==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
tzlocal==5.2 ; python_version >= "3.11" and python_version < "4.0"
