{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="" class="bg-base-200">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tobi DEGNON">
    {% block header_meta %}
        <title>Hossein Yaghoubi | Personal Website</title>
        <meta name="description" content="Hossein Yaghoubi online portfolio and web developer blog.">
        <meta name="keywords" content="developer, backend, python, django, daisyui, fastapi, database, web, blog">
    {% endblock header_meta %}
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link rel="stylesheet" href="{% static "css/code.css" %}">
    <script defer src="{% static "vendors/htmx/htmx.min.js" %}"></script>
    <script defer src="{% static "vendors/htmx/head-support.js" %}"></script>
    {#    <script type="module" src="https://unpkg.com/giscus?module"></script>#}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
    <script defer data-domain="oluwatobi.dev" src="https://plausible.service.dotfm.me/js/script.js"></script>
    <!-- favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

</head>
<body class="container mx-auto" hx-boost="true" hx-ext="head-support">
<header>
    <nav class="md:flex md:justify-center items-end mt-4" x-data="{ isOpen: true, path: '{{ request.path }}'}">
        <div class="flex justify-end p-4 md:hidden">
            <button
                    type="button"
                    class="text-zinc-200 hover:text-zinc-600 focus:outline-none border-0 p-1 rounded-full bg-zinc-800/90"
                    aria-label="toggle menu"
                    @click="isOpen = !isOpen"
            >
                <svg viewBox="0 0 24 24" class="h-7 w-7 fill-current">
                    <path fill-rule="evenodd"
                          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                </svg>
            </button>
        </div>
        <div x-transition x-show="isOpen" class="md:block grow mt-4">
            <ul class="flex justify-center w-max  mx-auto flex-col md:flex-row gap-2 border-0 p-1 border-zinc-700 divide-y divide-zinc-100/5 md:divide-none rounded-md md:rounded-full bg-zinc-800/90 text-neutral-content text-sm font-medium">
                <li>
                    <a href="/"
                       :class="path == '/' ? 'text-teal-400' : ''"
                       class="relative block px-3 py-2 transition hover:text-teal-400"
                    >Home</a>
                </li>
                <li>
                    <a href="/projects/"
                       :class="path.includes('projects') ? 'text-teal-400' : ''"
                       class="relative block px-3 py-2 transition hover:text-teal-400">Projects
                    </a>
                </li>
                <li>
                    <a href="/blog/"
                       :class="path.includes('blog') ? 'text-teal-400' : ''"
                       class="relative block px-3 py-2 transition hover:text-teal-400">Blog</a>
                </li>
                <li>
                    <a href="/colophon/"
                       :class="path.includes('colophon') ? 'text-teal-400' : ''"
                       class="relative block px-3 py-2 transition hover:text-teal-400">Colophon</a>
                </li>
            </ul>
        </div>

        <div class="">
            <label  class="swap swap-rotate ">
                <!-- this hidden checkbox controls the state -->
                <input data-toggle-theme="halloween,cupcake" data-act-class="ACTIVECLASS" type="checkbox" class="theme-controller hidden" value="hi"/>

                <!-- sun icon -->
                <svg
                        class="swap-off h-8 w-8 fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                    <path
                            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/>
                </svg>

                <!-- moon icon -->
                <svg
                        class="swap-on h-8 w-8 fill-current"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                    <path
                            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/>
                </svg>
            </label>
        </div>
    </nav>
</header>

{% block content %}
{% endblock content %}

<footer class="mt-32">
    <div class="sm:px-8">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                            <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
                                <a href="https://www.linkedin.com/in/yaghoubi76/"
                                   class="text-zinc-500 hover:text-white">
                                    <svg class="w-4 h-4" fill="currentColor" role="img" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"></path>
                                    </svg>
                                    <span class="sr-only">LinkedIN</span>
                                </a>
                                <a href="mailto:hossein.yaghoubi13@gmail.com"
                                   class="text-zinc-500 hover:text-white">
                                    <svg viewBox="0 0 24 24" aria-hidden="true"
                                         class="w-5 h-5" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M6 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6Zm.245 2.187a.75.75 0 0 0-.99 1.126l6.25 5.5a.75.75 0 0 0 .99 0l6.25-5.5a.75.75 0 0 0-.99-1.126L12 12.251 6.245 7.187Z"></path>
                                    </svg>
                                    <span class="sr-only">Email address</span>
                                </a>

                                <a href="https://github.com/hypy13/"
                                   class="text-zinc-500 hover:text-white">
                                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="sr-only">GitHub account</span>
                                </a>

                            </div>
                            <p class="text-sm text-zinc-400 dark:text-zinc-500">© <!-- -->2023 - 2024<!-- --> Hossein Yaghoubi.
                                All rights reserved.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
