{% extends "base.html" %}
{% load static %}

{% load humanize %}


{% block content %}
    {% featured_posts as posts %}
    <main>
        <section class="mt-24">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div>
                            <div class="flex items-center">
                                <img class="object-cover w-12 h-12 border-2 border-gray-700 rounded-full"
                                     alt="Tobi avatar"
                                     src="{% static "images/dt.png" %}">
                                <h1 class="text-3xl font-bold ms-3 tracking-tight text-base-content sm:text-4xl">
                                    Hossein Yaghoubi - Django Developer</h1>
                            </div>

                            <p class="mt-6 text-base text-base-content">
                                A Medior Python engineer with 6 years experience in various projects, ecommerce, SaaS,
                                and web scraping. skilled in backend development, but also have experience in frontend
                                and devops, giving me a well-rounded perspective for project development.
                            </p>

                            <div class="mt-6 flex gap-6">
                                <a class="group p-1" aria-label="Follow on GitHub" href="https://github.com/hypy13/">
                                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         class="h-6 w-6 fill-zinc-400 transition group-hover:fill-zinc-300"
                                    >
                                        <title>Github</title>
                                        <path
                                                d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
                                    </svg>
                                </a>
                                <a class="group p-1" aria-label="Follow on GitHub" href="https://www.linkedin.com/in/yaghoubi76/">
                                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         class="h-6 w-6 fill-zinc-400 transition group-hover:fill-zinc-300"
                                    >
                                        <title>Linkedin</title>
                                        <path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"></path>
                                    </svg>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-16">
            <h2 class="font-bold w-96 mx-auto text-2xl md:text-2xl tracking-tight mb-8 text-base-content text-center divider">
                Featured Posts</h2>
            <div
                    class="flex flex-col mx-3 items-center md:items-stretch lg:mx-0 lg:flex-row lg:justify-center gap-5 overflow-hidden sm:gap-8">
                {% for post in posts %}
                    <a href="/{{ post.slug }}/"
                       class="block p-6 rounded-lg border shadow-md border-zinc-700 hover:bg-base-300 lg:max-w-sm">
                        <time class="relative z-10 order-first mb-3 flex items-center text-sm text-base-content/70 pl-3.5"
                              datetime="2022-09-05">
                    <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                        <span class="h-4 w-0.5 rounded-full bg-zinc-500"></span>
                    </span>{{ post.publish_date }}
                        </time>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight">{{ post.title }}</h5>
                        <p class="font-normal text-base-content/70">{{ post.description|truncatewords:20 }}</p>
                        <div aria-hidden="true"
                             class="relative underline z-10 mt-4 flex items-center text-sm font-medium text-teal-600">
                            Read article
                            <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
                                <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
        <section class="mt-16 max-w-6xl mx-auto">
            <h2 class="font-bold w-96 mx-auto text-2xl md:text-2xl tracking-tight mb-4 text-base-content text-center divider">
                Some things I've
                built</h2>
            <p class="mt-4 text-center text-base-content">
                Some of my recent projects, <a href="/projects"
                                               class="font-medium text-teal-500 hover:text-teal-600 hover:underline">view
                the
                archive</a>.
            </p>
            <div class="grid grid-cols-1 gap-8 mt-8 mx-4 md:mx-0 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
                <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group"
                     style="background-image:url('https://images.unsplash.com/photo-1611689342806-0863700ce1e4?q=80&w=352&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                    <div
                            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
                        <h2 class="mt-4 text-2xl font-semibold text-white capitalize">Falco</h2>
                        <a href="https://falco.oluwatobi.dev"
                           class="mt-2 text-lg tracking-wider text-teal-400 uppercase"
                           target="_blank">Website</a>
                    </div>
                </div>

                <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group"
                     style="background-image:url('https://images.unsplash.com/photo-1546410531-bb4caa6b424d?q=80&w=352&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                    <div
                            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
                        <h2 class="mt-4 text-2xl font-semibold text-white capitalize">Leerming</h2>
                        <a href="https://leerming.com" class="mt-2 text-lg tracking-wider text-teal-400 uppercase"
                           target="_blank">Website</a>
                    </div>
                </div>
                <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group"
                     style="background-image:url('https://images.unsplash.com/photo-1508873535684-277a3cbcc4e8?q=80&w=352&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
                    <div
                            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
                        <h2 class="mt-4 text-2xl font-semibold text-white capitalize">HTMX Extensions</h2>
                        <a href="https://htmx-extensions.oluwatobi.dev/"
                           class="mt-2 text-lg tracking-wider text-teal-400 uppercase"
                           target="_blank">website</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-16">
            <div class="mx-auto max-w-xl px-2 lg:px-8">
                <div class="flex justify-center">
                    <div class="text-center">
                        <h2 class="font-bold w-96 mx-auto text-2xl md:text-2xl tracking-tight mb-4 text-base-content text-center divider">
                            Get In
                            Touch</h2>
                        <p class="font-normal text-base-content/70 my-6">
                            I'm currently on the lookout for new and exciting opportunities. If you believe I could be a
                            valuable
                            addition to your project
                            or business, don't hesitate to reach out via email at <a href="mailto:hossein.yaghoubi13@gmail.com"
                                                                                     class="text-teal-500 hover:text-teal-600 hover:underline">hossein.yaghoubi13@gmail.com</a>.
                            I'll do
                            my best to respond as
                            promptly as possible.
                        </p>
                        <div class="flex justify-center">
                            <a class="group flex text-sm font-medium text-base-content transition hover:text-teal-500"
                               href="mailto:hossein.yaghoubi13@gmail.com">
                                <svg viewBox="0 0 24 24" aria-hidden="true"
                                     class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-teal-500">
                                    <path fill-rule="evenodd"
                                          d="M6 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6Zm.245 2.187a.75.75 0 0 0-.99 1.126l6.25 5.5a.75.75 0 0 0 .99 0l6.25-5.5a.75.75 0 0 0-.99-1.126L12 12.251 6.245 7.187Z">
                                    </path>
                                </svg>
                                <span class="ml-2">hossein.yaghoubi13@gmail.com</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
{% endblock content %}
